
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

  <h1 id="phraseDiv">Hi</h1>
  <h2 id="message"></h2>
  <button onClick='startSpeech()'>Start</button>
 <!-- <button onClick="stopSpeech()">Stop</button> -->
<!--   <script src="./node_modules/microsoft-speech-browser-sdk/distrib/speech.sdk.bundle.js"></script>
 -->

   <button onClick="curLine()">Next</button>

  <div id="webSDK" data-config= "<%= SDK%>"></div>
 <script type="text/javascript" src="./distrib/speech.sdk.bundle.js"></script>
 <script type="text/javascript" src="./js/speech.js"></script>
</body>
</html>
