
<html>
<head>
	<title></title>
</head>
<body>

  <button onClick='startSpeech()'>Start</button>
  <button onClick="stopSpeech()">Stop</button>
  <script type="text/javascript" src="./js/speech.js"></script>

</body>
</html>