
<html>
<head>
	<title></title>
</head>
<body>
  <div id="statusDiv">Status</div>
  <h2 id="test">test</h2>
  <h1 id="phraseDiv">Hi</h1> 
  <button onClick='startSpeech()'>Start</button>
  <button onClick="stopSpeech()">Stop</button>
<!--   <script src="./node_modules/microsoft-speech-browser-sdk/distrib/speech.sdk.bundle.js"></script>
 -->  
  <div id="webSDK" data-config= "<%= SDK%>"></div>
 <script type="text/javascript" src="./distrib/speech.sdk.bundle.js"></script>
 <script type="text/javascript" src="./js/speech.js"></script>


</body>
</html>