
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <br /><br />
  <center><h1 id="phraseDiv">Hi</h1>
  <center><h2  id="message"></h2>
  
  <br /><br />
  
  
  <!-- <img src="http://moziru.com/images/turtoise-clipart-tortoise-and-the-hare-3.jpg"> -->
  <br /><br />
  <button id="startbutton" onClick='startSpeech()'>Start</button>
 <!-- <button onClick="stopSpeech()">Stop</button> -->
<!--   <script src="./node_modules/microsoft-speech-browser-sdk/distrib/speech.sdk.bundle.js"></script>
 -->

   <button id="nextbutton" onClick="curLine()">Next</button>

  <div id="webSDK" data-config= "<%= SDK%>"></div>
 <script type="text/javascript" src="./distrib/speech.sdk.bundle.js"></script>
 <script type="text/javascript" src="./js/speech.js"></script>
</body>
</html>
